# Compiled class file
*.class

# Target directory
/target/

*.scad
*.stl
OpenSCAD/ModuleCache/AllStrings/AllStrings.txt
src/main/java/config/Env.java
pom.xml
lib/javax.annotation.jar
lib/javax.ejb.jar
lib/javax.jms.jar
lib/javax.persistence.jar
lib/javax.resource.jar
lib/javax.servlet.jar
lib/javax.servlet.jsp.jar
lib/javax.servlet.jsp.jstl.jar
lib/javax.transaction.jar
.idea/dataSources.local.xml
.idea/dataSources/43a5af67-73b3-4889-83f7-753ecfd12aae.xml
.idea/dataSources/43a5af67-73b3-4889-83f7-753ecfd12aae/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/43a5af67-73b3-4889-83f7-753ecfd12aae/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/libraries/Java_EE_6_Java_EE_6.xml
pom.xml
.idea/libraries/Java_EE_6_Java_EE_6.xml
pom.xml
